@model GrupaEka.Models.ArticleComment
           
<div class="news-comment">
    <h4>@Html.ActionLink(Model.Author, "UserDetails", "Profile", new { UserName = Model.Author }, null),
        @String.Format("{0:d} ({0:HH}:{0:mm})", Model.Date)</h4>
    <p>@Model.Text</p>
    @if (Model.Author.Equals(HttpContext.Current.User.Identity.Name) || HttpContext.Current.User.IsInRole("admin"))
    {
        <p>
            @Html.ActionLink("Edytuj", "CommentEdit", new { id = Model.ID }) |
            @Html.ActionLink("Usuń", "CommentDelete", new { id = Model.ID })
        </p>
    }
</div>
