@{
    ViewBag.Title = "Usuwanie użytkownika";
}

<p>Jesteś pewien, że chcesz usunąć tego użytkownika?</p>

<table>
    <tr>
        <th>Użytkownik:</th><td>@Model.UserName</td>
    </tr>
    <tr>
        <th>E-mail:</th><td>@Model.Email</td>
    </tr>
    <tr>
        <th>Aktywny:</th>
        <td>               
            @if (@Model.IsApproved == true)
            {
                <text>Tak</text>
            }
            else
            {
                <text>Nie</text>
            }
        </td>
    </tr>
    <tr>
        <th>Ranga:</th><td>@ViewBag.Role</td>
    </tr>

</table>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót do listy aktualności", "Index")
    </p>
}
