@model GrupaEka.Models.NewsCommentViewModel

@using (Html.BeginForm("CommentCreate","News")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Dodaj komentarz</legend>
        @Html.Hidden("NewsID", ViewData["NewsID"])

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}
