@model GrupaEka.Models.NewsCategory

@{
    ViewBag.Title = "Edycja kategorii";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Kategoria</legend>

         @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            Nazwa
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name) 
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy kategorii", "CategoryIndex")
</div>
