@model GrupaEka.Models.NewsTimeViewModel

@{
    ViewBag.Title = "Dodaj wiadomość";
}

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<script src="@Url.Content("~/Scripts/NewsDateHelper.js")" type="text/javascript"></script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Wiadomość</legend>

        <input type="hidden" name="News.Author" id="News.Author" value="@HttpContext.Current.User.Identity.Name" />

        <div class="editor-label">
            @Html.LabelFor(model => model.News.Title)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.News.Title)
            @Html.TextBoxFor(model => model.News.Title, new { style = "width:20em" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.News.Text)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.News.Text)
            @Html.EditorFor(model => model.News.Text)            
        </div>

        <div class="editor-label" id="date-label">
            @Html.LabelFor(model => model.News.Date)
        </div>
        <div class="editor-field" id="date-editor">
            @Html.ValidationMessageFor(model => model.News.Date)
            @Html.EditorFor(model => model.News.Date) 
        </div>

        <div class="editor-label" id="time-label">
            Godzina
        </div>
        <div class="editor-field" id="time-editor">
            @Html.ValidationMessageFor(model => model.Hour)
            @Html.ValidationMessageFor(model => model.Minutes)
            @Html.EditorFor(model => model.Hour)
            :
            @Html.EditorFor(model => model.Minutes)
            <input type="button" value="Teraz" id="time-now" />
        </div>   
        
        <div class="editor-label">
            Kategorie:
        </div>
        <div class="editor-field">
            @foreach (var category in ViewBag.NewsCategories)
            {
                <input type="checkbox" value="@category.ID" name="CategoryIDs" /> @category.Name @String.Format(" ")
            }
        </div>     

        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Powrót do listy wiadomości", "Index")
</div>
