@model GrupaEka.Models.News

@{
    ViewBag.Title = "Usuwanie wiadomości";
}

<p>Jesteś pewien, że chcesz usunąć poniższą wiadomość?</p>

<h2>@Model.Title</h2>
<h3>@Model.Author, @String.Format("{0:d} ({0:HH}:{0:mm})", Model.Date)</h3>
<p>@Html.Raw(Model.Text)</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Powrót do listy aktualności", "Index")
    </p>
}
