@model IEnumerable<GrupaEka.Models.News>
@using GrupaEka.Helpers
@{
    ViewBag.Title = "Zarządzanie aktualnościami";
}

<p>
    @Html.ActionLink("Dodaj wiadomość", "Create")
</p>
<table class="manage">
    <tr>
        <th>Tytuł</th>
        <th>Data</th>
        <th>Treść</th>
        <th>Opcje</th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.ActionLink(Html.Truncate(item.Title, 15), "Details", new { id = item.ID }) </td>
        <td>@String.Format("{0:d} ({0:HH}:{0:mm})", item.Date)</td>
        <td>@Html.Raw(Html.Truncate(item.Text, 15))</td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
