@model GrupaEka.Models.LectureComment

@{
    ViewBag.Title = "Edycja komentarza";
}

@using (Html.BeginForm("CommentEdit","Lecture")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edycja komentarza</legend>
            @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <p>
            <input type="submit" value="Aktualizuj" />
        </p>
    </fieldset>
}