@model GrupaEka.Models.ChangeEmailModel

@{
    ViewBag.Title = "Zmiana adresu e-mail";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "E-mail nie został zmieniony. Proszę poprawić błędy i spróbować ponownie.")
    <div>
        <fieldset>
            <legend>Wprowadź nowy adres e-mail</legend>

            <div class="editor-label">
                Obecny e-mail: <b>@Membership.GetUser().Email</b>
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewEmail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.NewEmail)
                @Html.ValidationMessageFor(m => m.NewEmail)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmEmail)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.ConfirmEmail)
                @Html.ValidationMessageFor(m => m.ConfirmEmail)
            </div>

            <p>
                <input type="submit" value="Zmień adres e-mail" />
            </p>
        </fieldset>
    </div>
}
