@{
    ViewBag.Title = "Edycja użytkownika " + Model.UserName;
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <th>
                Użytkownik:
            </th>
            <td>
                <input type="hidden" name="UserName" id="UserName" value="@Model.UserName" />
                @*<input type="text" value="@Model.UserName" name="newUserName" id="newUserName" />*@
                @Model.UserName
            </td>
        </tr>
        <tr>
            <th>
                E-mail:
            </th>
            <td>
                <input  type="email" required="required" pattern="^[0-9a-z_.-]+@@([0-9a-z-]+\.)+[a-z]{2,6}$" value="@Model.Email" name="Email" id="Email" />
            </td>
        </tr>
        <tr>
            <th>
                Aktywny:
            </th>
            <td>
                @if (Model.IsApproved == true)
                {
                    <input type="checkbox" checked="checked" value="true" name="IsApproved" />
                }
                else
                {
                    <input type="checkbox" value="true" name="IsApproved" />
                }
            </td>
        </tr>
        <tr>
            <th>
                Ranga:
            </th>
            <td>                
                @Html.DropDownList("Role", new SelectList(ViewBag.roles, "Value", "Text", Roles.GetRolesForUser(Model.UserName)[0]))
            </td>
        </tr>
    </table>

    <p>
        <input type="submit" value="Zapisz" />
    </p>
}
<div>
    @Html.ActionLink("Powrót do listy użytkowników", "Index")
</div>
