@model GrupaEka.Models.LogOnModel

@{
    ViewBag.Title = "Logowanie";
}

<p>
    Podaj nazwę użytkownika i hasło. @Html.ActionLink("Zarejestruj się", "Register") jeśli nie masz konta.
</p>

@Html.ValidationSummary(true, "Logowanie się nie powiodło.")
@if (Request.IsAuthenticated)
{
    <text><span class="red">Nie masz wystarczających uprawnień, aby uzyskać dostęp do tej części serwisu.</span></text>
}

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Formularz logowania</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Zaloguj" /> @Html.ActionLink("Zapomniałeś hasła?","ResetPassword")
            </p>
        </fieldset>
    </div>
}
