@model GrupaEka.Models.Profile

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Profil</legend>

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.UserName)

        <div class="editor-label">
            Użytkownik: <b>@Model.UserName</b>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.About)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.About)
            @Html.ValidationMessageFor(model => model.About)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudyYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudyYear)
            @Html.ValidationMessageFor(model => model.StudyYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudyMajor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StudyMajor)
            @Html.ValidationMessageFor(model => model.StudyMajor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Faculty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Faculty)
            @Html.ValidationMessageFor(model => model.Faculty)
        </div>

        <p>
            <input type="submit" value="Zapisz" />
        </p>
    </fieldset>
}