@model GrupaEka.Models.Profile
@using GrupaEka.Helpers
@{
    ViewBag.Title = "Profil użytkownika: " + Model.UserName;
}
<table class="profile">
    <tr>
        <th>
            Użytkownik:
        </th>
        <td>@Model.UserName
        </td>
    </tr>
    <tr>
        <th>
            Ranga:
        </th>
        <td>@ViewBag.Role
        </td>
    </tr>
    <tr>
        <th>
            Imię:
        </th>
        <td>@Model.FirstName
        </td>
    </tr>
    <tr>
        <th>
            Nazwisko:
        </th>
        <td>@Model.LastName
        </td>
    </tr>
    <tr>
        <th>
            Rok studiów:
        </th>
        <td>@Model.StudyYear
        </td>
    </tr>
    <tr>
        <th>
            Kierunek:
        </th>
        <td>@Model.StudyMajor
        </td>
    </tr>
    <tr>
        <th>
            Wydział:
        </th>
        <td>@Model.Faculty
        </td>
    </tr>
</table>

<img src="../../Content/profile-photos/@Model.Photo" alt="@Model.UserName - zdjęcie profilowe" id="profile-photo" />

<table class="profile-about">
    <tr>
        <th>
            O sobie:
        </th>
        <td>@Model.About
        </td>
    </tr>
    <tr>
        <th>
            E-mail:
        </th>
        <td>
            @using (Ajax.BeginForm(
                            "SendEmail2User", "Profile", null,
                            new AjaxOptions()
                            {
                                HttpMethod = "Post",
                                LoadingElementId = "sending-email",
                                UpdateTargetId = "email-info",
                                OnComplete = "PostOnComplete"
                            },
                            new { id = "SendEmail2User" }))
            {
                    <input type="hidden" name="EmailAddress" id="EmailAddress" value="@Membership.GetUser(Model.UserName).Email" />
                    <input type="hidden" name="From" id="From" value="@HttpContext.Current.User.Identity.Name" />
                    <textarea rows="7" cols="26" name="Message" id="Message"></textarea><br />
                    <input type="submit" value="Wyślij" />
                    <div id="sending-email" style="display: none">@Html.Image(Url.Content("~/Content/images/loading.gif"), "loading")</div>
                    <div id="email-info"></div>
            }
        </td>
    </tr>
</table>

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Edycja", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Powrót do listy członków", "Index")
    </p>
}
