@model IEnumerable<GrupaEka.Models.Profile>

@{
    ViewBag.Title = "Członkowie";
}

<table>
    <tr>
        <th>
            Nick
        </th>
        <th>
            Imię i nazwisko
        </th>
        <th>
            Rok studiów
        </th>
        <th>
            Kierunek
        </th>
        <th>
            Wydział
        </th>
        @if (HttpContext.Current.User.IsInRole("admin"))
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.UserName, "Details", new { id = item.ID })
        </td>
        <td>
            @item.FirstName @item.LastName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyMajor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty)
        </td>
        @if (HttpContext.Current.User.IsInRole("admin"))
        {
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id=item.ID })
            </td>
        }
    </tr>
}

</table>
