@model IEnumerable<GrupaEka.Models.News>
@using GrupaEka.Models
@{
    ViewBag.Title = "Aktualności";
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Dodaj wiadomość", "Create", "News")
}
@foreach (var item in Model)
{
    <h2>@item.Title</h2>
    <h4>@Html.ActionLink(item.Author, "UserDetails", "Profile", new { UserName = item.Author }, null),
     @String.Format("{0:d} ({0:HH}:{0:mm})", item.Date)</h4>
    <p>@Html.Raw(item.Text)</p>
    if (item.NewsCategories.Count > 0)
    {
        <p>Kategorie: 
            @foreach (var cat in item.NewsCategories)
            {
                @Html.ActionLink(cat.Name, "Index", "Home", new { Category = cat.Name }, null)
                @String.Format(" ")
            }
        </p>
    }
    <p>@Html.ActionLink("Komentarze [" + item.NewsComments.Count + "]", "Details", "News", new { id = item.ID },null)</p>      
              
    if (HttpContext.Current.User.IsInRole("admin") || HttpContext.Current.User.Identity.Name.Equals(item.Author))
    {
        <p>
            @Html.ActionLink("Edytuj", "Edit", "News", new { id = item.ID }, null) |
            @Html.ActionLink("Usuń", "Delete", "News", new { id = item.ID }, null)
        </p>
    }
    <hr style="height: 1px; background-color: #e0e0e0; width: 80%" />
}

<div class="center">
@for (int i = 0; i < ViewBag.PagesCount; ++i)
{
    if ((i + 1) == ViewBag.CurrentPage)
    {
        <b>@Html.ActionLink("[" + (i + 1).ToString() + "] ", "Index", new { start = 10 * i + 1, Category = ViewBag.Category })</b>
    }
    else
    {
        @Html.ActionLink("[" + (i + 1).ToString() + "] ", "Index", new { start = 10 * i + 1, Category = ViewBag.Category })
    }
}
</div>

<p>
Kategorie:
@foreach (var cat in ViewBag.Categories)
{
    <a href="/Home/Index?Category=@cat.Name">@cat.Name</a>
    @*@Html.ActionLink(cat.Name, "Index", "Home", new { Category = cat.Name }, null)*@
    @String.Format(" ")
}
</p>